/* ==UserStyle==
@name           Vag None
@namespace      https://userstyles.world/user/patrick
@version        1.0.0
==/UserStyle== */

@-moz-document domain("vag.gg") {



.xgt-Banner-Kutusu .xgt-konteyner .xgt-icerik img {
	width: 100%;
	max-height: 100px;
	display: none;
}
.xgtSv9-HeaderBlok {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
	display: none;
}
[data-xgt-arkaplan="1"] .xgtSv9-global--ap {
	background-color: #1e2126;
	background-image: none;
}
audio, canvas, progress, video {
	display: inline-block;
	display: none;
}
[data-xgt-arkaplan="1"] .headerBlok--filigran {
	background: none;
}
.xgtSv9-notice-blok .notice-icerik .notice-kolon:last-of-type {
	flex-basis: 100%;
	border-radius: 0px;
	display: none;
}
.xgtSv9-notice-blok .notice-icerik {
	overflow: hidden;
	position: relative;
	height: 100%;
	color: rgb(var(--xgtBirincil-m));
	display: none;
}
}
